= simple_form_for(@feed, local: true, data: { controller: "nested-form", nested_form_wrapper_selector_value: '.nested-fields' }) do |f|
  - if @feed.errors.any?
    #error_explanation
      h2 = "#{pluralize(@feed.errors.count, "error")} prohibited this feed from being saved:"
      ul
        - @feed.errors.full_messages.each do |message|
          li = message
  = f.input :supplier, collection: Supplier.all, label_method: :name, include_blank: 'Generic - Specified by column in CSV'
  = f.input :title, required: false, hint: 'Optional'
  = f.input :description, required: false, hint: 'Optional'
  = f.input :url, required: false
  = f.input :feed_type, collection: [['Update', 'update'], ['Delete', 'delete']]

  .d-flex
    = f.submit class: 'btn btn-primary mx-1'
    = link_to "Cancel", feeds_path, class: 'btn btn-secondary'

  / template data-nested-form-target="template"
  /   = form.fields_for :mappings, Feed.new.mappings.build, child_index: 'NEW_RECORD' do |mapping_form|
  /     = render 'mapping_fields', f: mapping_form


