h2 Edit Data Source

= render partial: 'form'
hr
.d-flex.justify-content-end= button_to "Delete", feed_path(@feed), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this data source?' }

