h2 Data Sources

=link_to "New Data Source", new_feed_path

table.table
  thead
    tr
      th Name
      th Supplier
      th Import Type
      th
  tbody
    - @feeds.each do |feed|
      tr
        td = feed.display_name
        td = feed.supplier&.name || 'Generic - Specified by CSV column'
        td = feed.feed_type.humanize
        td
          .d-flex
            = link_to "Edit Feed", edit_feed_path(feed), class: 'btn btn-primary mx-1'
            = link_to "Edit Mappings", batch_edit_feed_mappings_path(feed), class: 'btn btn-primary'
