h2 New Data Source

p Get started by choosing an import type and an optional supplier:
= simple_form_for :feed, url: feeds_path do |f|
  = f.input :feed_type, label: 'Data Source Type', as: :radio_buttons, collection: {'Update Products' => 'update', 'Delete Products' => 'delete'}
  = f.input :supplier_id, collection: suppliers_for_feed
  = f.input :description, hint: 'Example: "Import ACME products from supplier CSV"'
  = f.submit 'Next: Configure Import'
