h2 #{@feed.supplier.name} "#{@feed.feed_type.humanize}" Settings

table
  thead
  tbody
    - @feed.mappings.each do |mapping|
      tr
        td = mapping.input_field
        td = mapping.output_field
        td = mapping.sample_data

= link_to "Edit Feed", batch_edit_feed_mappings_path(@feed)
