h2 Import Products

= simple_form_for :import, url: imports_path do |f|
  = f.input :feed_id, as: :select, collection: @feeds.map{ [_1.supplier.name, _1.id] }, label: 'Supplier'
  = f.input :products, as: :file
  = f.submit
