h2 Import Products

= simple_form_for :import
  table.table
    tbody
      tr
        th Feed Name
        td = @feed.name
      tr
        th Feed Type
        td = h @feed.feed_type
      tr
        =
