h2 Configuring Feed...
p Get started by uploading a sample of the file you will use for this feed.
= form_with url: from_file_feed_mappings_path, method: :post, multipart: true, accept: "text/csv", data: { turbo: false } do |f|
  = f.file_field :file
  = f.submit "Upload"
