h2 Products

turbo-frame#products-list
  .filters.flex.justify-end.mb-1
    = form_with method: :get do |form|
      .input-group.mb-3
        = form.text_field :filter, placeholder: "Search", value: params[:filter], class: "form-control", 'htmlaria-describedby': "search-button"
        = form.button "Search", class: "btn btn-outline-secondary", id:"search-button"

  table.table
    thead
      tr
        th SKU
        th Status
        th Available
        th Synced
        th Supplier
        th Title
        th style="text-align: right;" Listing Price
        th style="text-align: right;" Quantity
    tbody
      - @products.each do |product|
        = render 'product', product: product


  == pagy_bootstrap_nav(@pagy)

  == pagy_info @pagy
