turbo-frame#products-list
  .heading
    h2 Products

  .filters.flex.justify-end.mb-1
    = form_with method: :get do |form|
      .row.g-3.flex-nowrap
        .col-auto
          = form.select :supplier_id, options_for_select(suppliers_for_products_filter, params[:supplier_id]), {}, { class: 'form-select', onchange: 'this.form.submit();' }
        .col-auto.flex-fill
          .input-group
            = form.text_field :filter, placeholder: "Search", value: params[:filter], class: "form-control", 'htmlaria-describedby': "search-button"
            = form.button "Search", class: "btn btn-outline-secondary", id:"search-button"

  .d-flex.justify-content-between.mt-3.mb-2.align-items-center
    span == pagy_info @pagy
    = link_to "Download as CSV", url_for(request.params.merge(format: :csv)), class: 'btn btn-secondary'
  table.table
    thead
      tr
        th SKU
        th Status
        th Available
        th Synced
        th Supplier
        th Title
        th style="text-align: right;" Listing Price
        th style="text-align: right;" Quantity
    tbody
      - @products.each do |product|
        = render 'product', product: product


  .d-flex.flex-column.align-items-center.mt-4.mb-4
    == pagy_bootstrap_nav(@pagy)
    == pagy_info @pagy
