= turbo_stream.replace("sidebar") do
  = render template: 'products/show', layout: 'layouts/sidebar'
= turbo_stream.replace(dom_id(@product)) do
  = render partial: 'products/product', locals: { product: @product }
