h2 Suppliers

p = link_to "New Supplier", new_supplier_path

table.table
  thead
    tr
      th Name
      th Products
      th
  tbody
    - @suppliers.each do |supplier|
      tr
        td = supplier.name
        td = link_to supplier.products.count, products_path(supplier_id: supplier.id)
        td
          = link_to "Edit", edit_supplier_path(supplier), class: 'btn btn-primary'
