h2 Suppliers

p = link_to "New Supplier", new_supplier_path

table.table
  thead
    tr
      th Name
      th Update Products
      th Delete Products
      th
  tbody
    - @suppliers.each do |supplier|
      tr
        td = supplier.name
        td
          -if feed = supplier.feeds.find{_1.feed_type == 'update'}
            = link_to "Settings", batch_edit_feed_mappings_path(feed)
          - else
            = link_to "Configure", new_feed_path(supplier_id: supplier.id, feed_type: 'update')
        td
          -if feed = supplier.feeds.find{_1.feed_type == 'delete'}
            = link_to "Settings", batch_edit_feed_mappings_path(feed)
          - else
            = link_to "Configure", new_feed_path(supplier_id: supplier.id, feed_type: 'delete')
        td
