.d-flex.flex-column.flex-shrink-0.p-3.text-white.bg-dark[style="width: 280px;"]
  a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.text-white.text-decoration-none[href="/"]
    span.fs-4
      | WooSync
  hr
  ul.nav.nav-pills.flex-column.mb-auto
    = nav_link_item 'Products', products_path, :products
    = nav_link_item 'Suppliers', suppliers_path, :suppliers
    = nav_link_item 'Data Sources', feeds_path, :feeds
    = nav_link_item 'Imports', new_import_path, :imports
    = nav_link_item 'Exports', exports_path, :exports

  hr
  .dropdown
    a#dropdownUser1.d-flex.align-items-center.text-white.text-decoration-none.dropdown-toggle[href="#" data-bs-toggle="dropdown" aria-expanded="false"]
      img.rounded-circle.me-2[src="https://github.com/mdo.png" alt="" width="32" height="32"]
      strong
        | mdo
    ul.dropdown-menu.dropdown-menu-dark.text-small.shadow[aria-labelledby="dropdownUser1"]
      li
        a.dropdown-item[href="#"]
          | New project...
      li
        a.dropdown-item[href="#"]
          | Settings
      li
        a.dropdown-item[href="#"]
          | Profile
      li
        hr.dropdown-divider
      li
        a.dropdown-item[href="#"]
          | Sign out
